<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <div style="text-align: center;">
  <h1>
    welcome {{title}}
  </h1>
  <!-- <input id="myId" type="text" value="Sanidhya">
  <input disabled="false" type="text" value="Sanidhya"> -->

  <!-- <div app-test>

  </div>
</div>

<router-outlet></router-outlet> --> 

<div style="text-align: center;">
  <h1>
    Welcome {{ title }}
  </h1>
  <!-- <app-test></app-test> -->
</div>

<router-outlet></router-outlet>

