/* Add this to your global styles or specific component styles */

.container-fluid {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
}

h2 {
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease; /* Smooth transition on focus */
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #007bff; /* Highlight border color on focus */
}

input.is-invalid {
  background-color: #f8d7da; /* Light red background color for invalid inputs */
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.btn-primary:hover {
  background-color: #0056b3; /* Darker color on hover */
}

.btn-secondary {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 10;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-secondary:hover {
  background-color: #0056b3; /* Darker color on hover */
}


.d-none {
  display: none !important;
}

/* Add this to your existing CSS file or style section */
.btn:disabled, .btn[disabled] {
  opacity: 0.7; /* Reduce opacity to visually indicate it's disabled */
  cursor: not-allowed; /* Change cursor to not-allowed to indicate it can't be clicked */
}