<img class="brand-logo" src="/assets/VegEase.png" alt="logo" aria-hidden="true">
<div style="text-align: center;">
  <h1 class="project-heading">
    <span class="highlight-text">Veg</span>Ease Practice Project
    <span class="message">{{ message }}</span>
  </h1>

  <div class="navigation">
    <a routerLink="/">Home</a>
    <a routerLink="/employeelist">Employee List</a>
    <a routerLink="/employeedetails">Employee Details</a>
    <a routerLink="/test">Test Component</a>
    <a routerLink="/reactive-form">Reactive Form</a>
    <a routerLink="/form-data">Form Data</a>
    <a routerLink="/news">News Api</a>
    <a routerLink="/testapi">Test Api</a>

  </div>
</div>
<!-- <app-test (childEvent)="message=$event" [parentData]="name"></app-test> -->

<router-outlet></router-outlet>